<body>
  <header [style.background-image]="'url(' + activatedProject.imageUrl + ')'"></header>
  <main>
    <section>
      <h1>{{activatedProject.title | uppercase}}</h1>
      <article>{{activatedProject.description}}</article>
    </section>
    <aside>
      <h1>TECNOLOGIAS UTILIZADAS</h1>
      <ul>
        <app-card
          *ngFor="let skill of skills"
          [imageUrl]="skill.imageUrl"
          [title]="getTextAtributte(skill.id, true)"
          [description]="{text: skill.description, show: false}"
        >
        </app-card>
      </ul>
    </aside>
  </main>
</body>