footer {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   align-items: center;
   justify-content: center;
}

h1 {
   font-size: 32px;
   margin: 60px;
}

h2 {
   font-size: 28px;
   margin: 40px;
}

section {
   display: flex;
}

a {
   background-color: var(--primaryColor);
   border-radius: 50%;
   width: 75px;
   height: 75px;
   margin: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color .5s ease-out;
}

a:hover {
   transition: background-color .5s ease-out;
   background-color: #EDA4A0;
}

img {
   width: 50px;
   height: 50px;
   filter: invert(6%) sepia(36%) saturate(562%) hue-rotate(347deg) brightness(95%) contrast(107%);
}