<footer>
   <h1 class="animLeft">GOSTOU DO MEU PRODUTO? VAMOS TRABALHAR JUNTOS.</h1>
   <section>
      <a class="animLeft" target="_blank" href="https://www.linkedin.com/in/julio-silva-de-castro-16881b1b3/">
         <img src="\assets\linkedinIcon.svg" alt="LinkedIn Icon">
      </a>
      <a class="animLeft" target="_blank" href="https://github.com/ju-lio">
         <img src="\assets\githubIcon.svg" alt="GitHub Icon">
      </a>
      <a class="animRight" target="_blank" href="https://w.app/q5c4lV ">
         <img src="\assets\whatsappIcon.svg" alt="WhatsApp Icon">
      </a>
      <a class="animRight" target="_blank" href="https://www.instagram.com/juyocas/">
         <img src="\assets\igIcon.svg" alt="Instagram Icon">
      </a>
   </section>
   <h2 class="animRight">JULIO S. CASTRO</h2>
   
</footer>
    