article {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 15px;
}

picture {
   margin-right: 15px;
   background-color: var(--primaryColor);
   padding: 10px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 {
   color: var(--primaryColor);
}

img {
   padding: 5px;
   width: 25px;
   height: 25px;
   filter: invert(6%) sepia(36%) saturate(562%) hue-rotate(347deg) brightness(95%) contrast(107%);
}

