<section>
   <app-card
    [iconUrl]="'/assets/angularIcon.svg'"
    [text]="
      'Conhecimento com o FrameWork Angular. Usado para o desenvolvimento de SPA (Single Page Aplications), tenho no meu portfólio um exemplo de uma aplicação de filmes (estilo Netflix), e um pequeno sistema CRUD, que é um controle de cadastro de produtos.'
    "
  ></app-card>
   <app-card
     [iconUrl]="'/assets/tsIcon.svg'"
     [text]="
       'Domínio da linguagem TypeScript. É uma linguagem de programação extensora ao JavaScript. Muito usada para grandes projetos por conta de sua tipagem, aumenta a organização e diminuí as margens de erros.'
     "
   ></app-card>
  <app-card
    [iconUrl]="'/assets/htmlIcon.svg'"
    [text]="
      'Habilidade com HTML5, conhecimento profundo na linguagem de marcação e domínio em semântica HTML para melhor organização, responsividade e portabilidade do projeto.'
    "
  ></app-card>
  <app-card
    [iconUrl]="'/assets/cssIcon.svg'"
    [text]="
      'Estização e design com CSS. Domínio amplo da ferramenta, fazendo com que a estilização de seu site ou sistema seja adequada a necessidade do cliente. Planejamento prévio sobre a UI e UX do projeto para melhor fluidez do desenvolvimento e maior agrado dos usuários.'
    "
  ></app-card>
  <app-card
    [iconUrl]="'/assets/jsIcon.svg'"
    [text]="
      'Conhecimento JavaScript. conhecimento da linguagem de programação, priorizando programação funcional e reativa, para fácil leitura e simplicidade do código, minimizando problemas e facilitanto manutenções e melhorias futuras'
    "
  ></app-card>
</section>
