<header>
   <nav class="navDesktop">
      <ul>
         <li><a [routerLink]="['']">INÍCIO</a></li>
         <li><a [routerLink]="['skills']">HABILIDADES</a></li>
         <li><a [routerLink]="['projects']">PROJETOS</a></li>
         <li><a [routerLink]="['contact']">CONTATO</a></li>
      </ul>
   </nav>
   <nav class="navMobile">
      <ul>
         <li class="inactive p0"><a [routerLink]="['contact']">CONTATO</a></li>      
         <li class="inactive p1"><a [routerLink]="['skills']">HABILIDADES</a></li>
         <li class="active p2"><a [routerLink]="['']">INÍCIO</a></li>
         <li class="inactive p3"><a [routerLink]="['projects']">PROJETOS</a></li>
      </ul>
   </nav>
</header>