/* GENERAL */
section {
   display: flex;
   width: 100vw;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

aside {
   display: flex;
   width: 50vw;
   justify-content: flex-start;
}

/* PICTURE */

picture {
   display: flex;
   width: 50vw;
   height: 50vw;
   max-height: 500px;
   justify-content: flex-end;
}

img {
   width: 70vw;
   height: 70vw;
   max-width: 500px;
   max-height: 500px;
}

/* FONT */

p {
   font-size: 22px;
}

span {
   font-size: 1.5em;
   color: var(--primaryColor);
   margin: 8px;
}

/* MOBILE */

@media screen and (max-width: 800px) {
   aside {
      width: 100vw;
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
   }
   
   aside {
      height: 70vw;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 50px 15px 0;
   }
   
   picture {
      position: absolute;
      width: 100vw;
      justify-content: flex-start;
   }
   
   p {
      font-size: 4vw !important;
   }
   span {
      font-size: 4.5vw !important;
   }
}

@media screen and (max-width: 500px) {
   aside {
      padding:10px 10px 0 0;
   }
}

/* @media screen and (max-width: 525px) {
   aside {
      padding: 0 25px 15px 25px;
   }   
   p {
      font-size: 18px !important;
   }
   span {
      font-size: 22px !important;
   }
}

@media screen and (max-width: 500px) {
   p {
      font-size: 15px !important;
   }
   span {
      font-size: 20px !important;
   }
}

@media screen and (max-width: 450px) {
   aside {
      padding: 0 15px 15px 15px;
   }
   p {
      font-size: 12px !important;
   }
   span {
      font-size: 15px !important;
   }
} */

/* ANIMATION AND HOVER STYLESING */

span {
   transition: text-shadow .5s ease-out, color .5s ease-out;
}

/*
.teste {
   perspective: 500px;
}

 div {
   width: 320px;
   height: 380px;
   background-color: #969696; 
   margin-left: 150px;

   border-left: 5px solid #C62929;
   border-bottom: 5px solid #C62929;

   transform: rotateX(-22deg) rotateY(30deg) rotateZ(20deg);
   transform-style: preserve-3d;
} 

svg {
   width: 500px;
   height: 500px;
}

img {
   width: 500px;
   height: 500px;
   position: absolute;
   left: 16px;
   top: 74px;
   mask: url(../../../assets/card.svg);
   mask-position: bottom;
   mask-size: 500px;
}
*/