<section>
  <app-project-card
    [title]="'APLICAÇÃO DE FILMES'"
    [imageUrl]="
      'https://cdn.discordapp.com/attachments/931554086816448566/1140383720965161051/image.png'
    "
    [aplicationUrl]="'https://project-movies-site.web.app/'"
    [description]="
      'Este projeto é uma aplicação desenvolvida com o FrameWork Angular com intuito de ser a página inicial de um serviço de streaming, o conteúdo está vinculado a uma API gratuita de consulta de filmes (TMDB). Possui em seu inicio uma tela de escolha de usuário, em sua tela de início existem três filmes em destaque na parte superior, outros filme em destaque com barra de rolagem e abaixo uma lista de series.'
    "
  >
  </app-project-card>
  <app-project-card
    [title]="'CADASTRO DE PRODUTOS'"
    [imageUrl]="
      'https://cdn.discordapp.com/attachments/931554086816448566/1140383899097239682/image.png'
    "
    [description]="
      'Este projeto é uma aplicação desenvolvida com o FrameWork Angular com intuito de ser uma consulta de filmes vinculada a API do TMDB. Possui em seu inicio uma tela de escolha de usuário, em sua tela de início existem três filmes em destaque na parte superior, outros filme em destaque com barra de rolagem e abaixo uma lista de series'
    "
  ></app-project-card>
  <!-- <app-project-card
    [title]="'CELESTE'"
    [imageUrl]="'https://images3.alphacoders.com/901/thumb-1920-901148.png'"
    [description]="'Projeto feito de tal forma'"
  >
  </app-project-card> -->
</section>
