section {
   display: flex;
   height: 85vh;
   align-items: center;
   justify-content: center;
}

aside, picture {
   display: flex;
   align-items: center;
   height: 100%;
}

aside {
   width: 60%;
}

picture {
   width: 40%;
}

img {
   width: 500px;
   height: 500px;
}

picture {
   justify-content: center;
}

p {
   font-size: 22px;
}

span {
   font-size: 32px;
   color: #BF2727;
   margin: 8px;
}


