article {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
   text-align: center;
   font-size: 22px;
   color: var(--primaryColor);
   margin: 10px;
   width: 150px;
}

a {
   width: 150px;
   height: 150px;
   background-position: center; 
   background-size: auto 250px;
   border: solid 5px var(--primaryColor);
   transition: border .5s ease-out;
   cursor: pointer;
}

a:hover {
   transition: border .5s ease-out;
   border-color: var(--secundaryColor);
   color: var(--secundaryColor);
}
